/* CSS Reset by Josh W Comeau   https://www.joshwcomeau.com/css/custom-css-reset/*/

/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
/*
    2. Remove default margin and padding
  */
* {
  padding: 0;
  margin: 0;
}
/*
    3. Allow percentage-based heights in the application
  */
html,
body {
  height: 100%;
}
/*
    Typographic tweaks!
    4. Add accessible line-height
    5. Improve text rendering
  */
body {
  -webkit-font-smoothing: antialiased;
}
/*
    6. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
/*
    7. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
  font: inherit;
}
/*
    8. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
/*
    9. Create a root stacking context
  */
#root,
#__next {
  isolation: isolate;
}

@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@500;700;900&display=swap");

:root {
  --clr-bg: #e0e8ff;
  --clr-accent: hsl(245, 75%, 52%);
  --clr-bg2: #f5f7ff;
  --clr-text: hsl(225, 18%, 50%);
  --clr-dark-blue: hsl(223, 47%, 23%);

  /* font-sizes */
  --fs-regular: 1rem;

  /* font-family */
  --ff-main: "Red Hat Display", sans-serif;

  /* utilities */
  --opacity-hover: 0.7;
}

body {
  color: var(--clr-text);
  font-size: var(--fs-regular);
  font-family: var(--ff-main);
  text-align: center;
  background-color: var(--clr-bg);
  line-height: 1.6;
}

.container {
  display: grid;
  place-content: center;
  min-height: 100vh;
  background: url(images/pattern-background-desktop.svg) repeat-x;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1em;
  flex-wrap: wrap;
}

a:link,
a:visited {
  color: var(--clr-accent);
  text-align: center;
}

.card {
  max-width: 23.75rem;
  background-color: #fff;
  border-radius: 1.25rem;
  overflow: hidden;
  margin: 1.5rem;
  box-shadow: 0 5px 15px;
}

.img-container {
  background: url(images/illustration-hero.svg) no-repeat center center/ cover;
  height: 10.625rem;
  max-width: 100%;
}

.card__content {
  padding: 1.55em;
  display: grid;
  gap: 1rem;
  max-width: 90%;
  margin-inline: auto;
}

.card__heading {
  color: var(--clr-dark-blue);
  font-weight: 800;
}

.plan-box {
  justify-content: space-between;

  margin-block: 1.5rem;
}

.logo {
  height: 50px;
}

.plan {
  color: var(--clr-dark-blue);
  font-weight: 800;
  font-size: 0.9375rem;
  padding-bottom: 0.1em;
}

.plan-link {
  font-weight: 600;
}

.plan-link:hover {
  opacity: var(--opacity-hover);
}

.btn {
  border: none;
  outline: none;
  padding: 0.75em;
  border-radius: 0.625rem;
  cursor: pointer;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.payment {
  background-color: var(--clr-accent);
  color: #fff;
  font-weight: 700;
}

.payment:hover {
  opacity: var(--opacity-hover);
}

.cancel {
  color: inherit;
  font-weight: 700;
  background: none;
}

.cancel:hover {
  color: var(--clr-dark-blue);
  font-weight: 700;
}

.payment:focus-visible,
.cancel:focus-visible {
  outline: 3px solid var(--clr-dark-blue);
}

@media (max-width: 25em) {
  .container {
    background: url(images/pattern-background-mobile.svg) repeat-x;
  }

  .card__content {
    max-width: 100%;
  }
}
